[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Epsilon-Intersection"]
	path = Epsilon-Intersection
	url = https://github.com/Jojendersie/Epsilon-Intersection.git
[submodule "third_party/Epsilon-Intersection"]
	path = third_party/Epsilon-Intersection
	url = https://github.com/Jojendersie/Epsilon-Intersection.git
